<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nubobyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_nuboby"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_nuboby"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TokenActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mulai_penilaian" />
        <activity android:name=".Pilih_Tatami" />
        <activity
            android:name=".successActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".baganActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".putra_putri_tanding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nomor_kelas_tanding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nomor_pertandingan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kelas_tanding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ValuationActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>